.title-banner {
    background-color: yellow;
    font-size: 40px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

  .main-search {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .main-search-button {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .appButton {
    margin: 100%;
    background-color: greenyellow;
  }

  .appButton:hover 

  .appButton:active 

  .appButton::selection 

  .listButton 

  .listButton:hover 

  ul 

  /* Style the list items */
  ul li 

  .checked 

  .shopitem 

  .dish-results 

  .name 

  .search-item 

  .search-item:hover 

  .search-item:active 

  .search-item::selection 

  .savedDish

  .background